@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500;700&family=Poppins:wght@700&family=Sniglet&display=swap");
:root {
  --font-family: "Sniglet", cursive;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --dark-green: #286f6c;
  --dark-blue: #0d2f3f;
  --dark-grey: #323836;
  --yellow: #fda300;
  --white: #ffff;
  --orange: #ff525d;
  --blue: #34abe0;
  --light-green: #4bc999;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.title {
  margin: 0;
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 100px;
  color: var(--dark-blue);
  text-align: center;
  margin-bottom: 25px;
}

.header {
  padding: 25px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 60;
}
@media (max-width: 768px) {
  .header {
    padding: 15px 0;
  }
}
.header__container {
  position: relative;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: var(--dark-blue);
  position: relative;
  z-index: 6;
  margin-right: 20px;
}
.header__logo::after {
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  background-color: var(--orange);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: -10px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
@media (max-width: 768px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
.nav__link {
  font-size: 16px;
  line-height: 21px;
  position: relative;
  color: var(--dark-blue);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
.nav__link:hover::after {
  width: 100%;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--yellow);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
@media (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    padding: 60px 0 30px 0;
    overflow: auto;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
.nav.menu--active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger {
  display: none;
  --burger-width: 30px;
  --burger-height: 18px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #ff525d;
  background-color: transparent;
  cursor: pointer;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .burger {
    display: block;
  }
}

.hero {
  padding-top: 150px;
}
@media (max-width: 768px) {
  .hero {
    padding-top: 110px;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 35px;
}
@media (max-width: 768px) {
  .hero__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.hero__content {
  max-width: 450px;
}
@media (max-width: 768px) {
  .hero__content {
    max-width: none;
    text-align: center;
  }
}
.hero__title {
  margin: 0;
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 700;
  font-size: 80px;
  color: var(--dark-blue);
  z-index: 3;
  margin-bottom: 20px;
}
.hero__descr {
  font-size: 25px;
  font-weight: 400;
  line-height: 45px;
  color: var(--dark-blue);
  z-index: 3;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .hero__descr {
    margin-bottom: 50px;
  }
}
.hero__pos {
  color: var(--orange);
}
.hero__welcome {
  font-size: 30px;
  color: var(--orange);
}
.hero__img img {
  width: 100%;
}

.skills {
  padding: 50px 0;
}
.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 1024px) {
  .skills__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.skills__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.33%;
  flex: 0 1 33.33%;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  padding: 25px;
  border-radius: 20px;
  border: 1px solid #f1f1f1;
}
.skills__item:hover .skills__info--html {
  color: var(--orange);
}
.skills__item:hover .skills__info--css {
  color: var(--blue);
}
.skills__item:hover .skills__info--js {
  color: var(--light-green);
}
.skills__img {
  width: 64px;
  height: 64px;
  margin-bottom: 30px;
}
.skills__info {
  margin: 0;
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--dark-blue);
  -webkit-transition: color 0.4s ease-out;
  -o-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
  margin-bottom: 20px;
}
.skills__descr {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: var(--dark-blue);
  margin-bottom: auto;
}

.works {
  padding: 50px 0;
}
.works__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
@media (max-width: 768px) {
  .works__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.works__item {
  overflow: hidden;
  border-radius: 4px;
}
.works__item:hover .works__link {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.works__item:hover .works__info {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  color: var(--orange);
}
.works__link {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 170px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.works__link img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.works__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #070707;
  margin-top: 30px;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.contacts {
  padding: 50px 0;
}
.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contacts__text {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin: 0 auto 20px;
  color: var(--dark-blue);
  max-width: 285px;
}
.contacts__link {
  text-align: center;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 40px;
  color: #fff;
  padding: 8px 23px;
  background-color: var(--yellow);
  border-radius: 4px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.contacts__link:hover {
  background: var(--orange);
}
.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.contacts__item:hover .contacts__item-link svg {
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  fill: var(--orange);
}
.contacts__item-link {
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.contacts__item-link svg {
  width: 40px;
  height: 40px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.footer {
  padding: 25px 0;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer__content {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: var(--dark-green);
}
.footer__link {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: var(--dark-green);
}
.footer__link:hover {
  color: var(--orange);
}
/*# sourceMappingURL=main.css.map */